<nav>
    <ol>
        <li>
            <a href="/">inicio</a>
        </li>
        <li>
            
            <a href="/productos">ir a mis productos</a> 
        </li>
        <li>
           <p>desafio backend</p> 
        </li>

    </ol>
</nav>