.footer {
    margin-bottom: 200px
;
    color: azure;
    background-color: rgb(58, 58, 71) ;
    height: 10vh;
    /* margin: 18px; */
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* color: green; */
}

ol  {
    font-weight: lighter;
    list-style: none;
    color: azure;
    background-color: rgb(58, 58, 71) ;
    height: 10vh;
    /* margin: 18px; */
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    margin: 10px;
}

a {
    color: aliceblue;
    text-decoration: none;
    transition: 0.1s;
}
a:hover{
    color:aliceblue;
    font-weight: bolder;
}
/* text-transform: uppercase;} */
.imagen{
    height: 300px;
    width: 300px;

}