{{#if hayProducto }}
                <h2>El producto se agrego perfectamente</h2>
<a href="/productos">ir a mis productos</a>                
{{else}}
                <h2>El producto no se agrego</h2>
               
       {{/if}}